{% extends 'mobile/base.html' %}
{% block title %}Add Mobile{% endblock %}
{% block home %}{% endblock %}
{% block add %}active{% endblock %}
{% block cart %}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3>Add mobile</h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form action="" class="form-group-lg col-md-offset-1" method="post" enctype="multipart/form-data">
                            {%  csrf_token %}
                            {% include 'mobile/form_template.html' %}
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4 sumbit-button">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}